@import "../../../assets/style/mixins";



.prod {
  font-family: sans-serif;
  line-height: 1.5;
  padding-bottom: 6rem;
  width: 100%;
  min-height: 20vh;
  @include flexbox(column, wrap, center, center);


  &__header {
    background-size: cover;
    width: 100%;
    min-height: 105vh;
    background-repeat: no-repeat;
    background-position: center;
    @include flexbox(column, wrap, center, left);
    color: white;

    &--title {
      min-height: 5vh;
      font-size: 32px;
      font-weight: 600;
      margin-left: calc(5%);
      margin-right: calc(5%);
      margin-bottom: calc(4%);
      text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6;
    }

    &--text {
      font-family: sans-serif;
      width: 30%;
      min-height: 10vh;
      font-size: 18px;
      margin-left: calc(5%);
      margin-right: calc(5%);
      font-style: italic;
      font-stretch: condensed;
      position: relative;
      z-index: 2;
      white-space: break-spaces;
    }

    &--text::before {
      content: "";
      width: 10.3333em;
      height: 5px;
      min-height: 1.5em;
      border-bottom: 0.5em solid #dd5a12;
      position: absolute;
      top: calc(23%);
      right: calc(23%);
      box-sizing: border-box;
      transition: width 1000ms ease-in-out;
      opacity: 0.7;
      z-index: -1;
    }
  }

  &__desc {
    width: 100%;
    margin-top: 50px;
    @include flexbox(row, wrap, space-between, center);
    color: white;

    &--img {
      width: 50%;
      height: 100%;
      @include flexbox(row, wrap, space-between, center);
      border: none;

      img {
        width: 100%;
        min-height: 60vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
      }
    }

    &--content {
      width: 50%;
      @include flexbox(column, wrap, flex-start, center);

      .title {

        width: 100%;
        text-align: center;
        min-height: 5vh;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: calc(4%);
        margin-top: calc(28%);
        text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6;
      }

      .text {
        font-family: sans-serif;
        min-height: 10vh;
        font-size: 20px;
        font-style: italic;
        font-stretch: condensed;
        width: 55%;
        text-align: center;
        white-space: break-spaces;
      }

      .taste {
        width: 50%;
        margin-top: 50px;
        color: orangered;
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
        display: flex;


        &__text {
          display: flex;
          align-items: left;
          flex-flow: column;
          justify-content: space-between;
          width: 50%;
          min-height: 50px;


        }


        &__static {
          display: flex;
          align-items: left;
          flex-flow: column;
          justify-content: space-between;
          width: 50%;
          min-height: 50px;

          &--p {
            margin-left: 10px;
            width: 100%;
            height: 20px;
            border: 3px solid white;
            display: flex;
            transition: all 10s ease-in-out;

            span {
              width: 0%;
              height: 15.5px;
              margin-left: -1px;
              margin-top: calc(-0.3%);


            }
          }

          &--p:nth-child(1) {
            span {
              background-color: brown;

            }
          }

          &--p:nth-child(2) {
            span {
              background-color: darkgoldenrod;


            }
          }

          &--p:nth-child(3) {
            span {
              background-color: darkred;


            }
          }

          &--p:nth-child(4) {
            span {
              background-color: orangered;

            }
          }
        }

      }


    }
  }

  &__footer {
    @include flexbox(column, wrap, space-between, center);
    width: 100%;
    min-height: 20vh;

    &--order {
      margin-top: 50px;
      width: 100%;
      @include flexbox(column, wrap, space-between, center);
      min-height: 10vh;

      .price {
        width: 100%;
        text-align: center;
        color: white;
        position: relative;
        font-size: 35px;
        text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6;

        &__text {
          font-size: 35px;
          text-shadow: 0 0 0px #fff, 0 0 5px #fff, 0 0 0px #fff, 0 0 15px #FF9900, 0 0 20px #FF9900, 0 0 25px #FF9900;
        }

        &__discount {
          position: absolute;
          top: -25px;
          font-size: 40px;
          text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000, 0 0 25px #ff0000;

        }

        &__still {
          font-size: 35px;
          text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6;
          position: relative;

          &--cross {
            position: absolute;
            width: 120px;
            height: 3px;
            background-color: red;
            border: none;
            transform: rotate(-12deg);
            right: calc(3%);
            top: 20px;
            box-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000, 0 0 25px #ff0000;

          }
        }


      }

      .counter {
        width: 100%;
        @include flexbox(row, wrap, center, center);

        &__amount {
          text-align: center;
          color: white;
          margin-top: 30px;
          margin-right: 20px;
          font-size: 35px;
          text-shadow: 0 0 0px #fff, 0 0 5px #fff, 0 0 0px #fff, 0 0 15px #FF9900, 0 0 20px #FF9900, 0 0 25px #FF9900;

        }

        .mybtn {
          border-radius: 10px;
          margin: 10px;
          margin-top: 50px;
          color: white;
          width: 50px;
          height: 50px;
        }

        .mybtn:nth-child(2) {
          border: 1px solid darkred;
          background-color: black;
        }

        .mybtn:focus {
          outline: none;
          box-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6;

        }

        input {
          height: 50px;
          border: none;
          border-bottom: 4px solid sandybrown;
          background: transparent;
          text-align: center;
          color: white;
          font-size: 24px;
          width: 150px;
          text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6;
        }

        .mybtn:last-child {
          border: 1px solid green;
          background-color: black;
        }

      }

      .makeOrder {
        margin-top: 50px;
        cursor: pointer;
        font-family: sans-serif;
        border: 1px solid orangered;
        padding: 16px 41px 14px;
        font-size: 16px;
        line-height: 16px;
        color: #fefefe;
        background: orangered;
        -webkit-border-radius: 22px;
        border-radius: 22px;
        font-weight: 700;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: background .250s linear, color .250s linear, border .250s linear;
        -o-transition: background .250s linear, color .250s linear, border .250s linear;
        transition: background .250s linear, color .250s linear, border .250s linear;



      }

      .makeOrder:hover {
        background: transparent;
        color: orangered;
      }

      .makeOrder:focus {
        outline: none;
        box-shadow: 0 0 2px 3px orangered;
      }
    }
  }

}

@media screen and (max-width: 990px) {
  .prod {
    &__header {

      &--title {
        font-size: 32px;
        font-weight: 600;
        margin-left: calc(5%);
        margin-bottom: calc(4%);
        text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6;
      }

      &--text {
        width: 40%;
      }

      &--text::before {
        content: "";
        width: 10.3333em;
        height: 5px;
        min-height: 1.5em;
        border-bottom: 0.5em solid #dd5a12;
        position: absolute;
        top: calc(33%);
        right: calc(12%);
        box-sizing: border-box;
        transition: width 1000ms ease-in-out;
        opacity: 0.7;
        z-index: -1;
      }
    }

    &__desc {


      &--img {

        img {
          width: 100%;
          min-height: 60vh;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border: none;
        }
      }

      &--content {

        .title {
          font-size: 28px;

        }

        .text {
          font-size: 18px;
          width: 65%;
        }

        .taste {
          width: 50%;
          font-size: 16px;
        }

      }
    }

    &__footer {
      @include flexbox(column, wrap, space-between, center);
      width: 100%;
      min-height: 20vh;

      &--order {
        margin-top: 50px;
        width: 100%;
        @include flexbox(column, wrap, space-between, center);
        min-height: 10vh;

        .price {
          font-size: 30px;


          &__text {
            font-size: 30px;
          }

          &__discount {
            font-size: 35px;

          }

          &__still {
            font-size: 30px;



            &--cross {
              width: 110px;
              right: calc(0%);
              top: 15px;
            }
          }


        }

        .counter {
          width: 100%;
          @include flexbox(row, wrap, center, center);

          &__amount {
            font-size: 30px;
          }

          .mybtn {
            border-radius: 10px;
            margin: 10px;
            margin-top: 50px;
            color: white;
            width: 50px;
            height: 50px;
          }

          .mybtn:nth-child(2) {
            border: 1px solid darkred;
            background-color: black;
          }

          .mybtn:focus {
            outline: none;
            box-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6;

          }

          input {

            font-size: 20px;
            width: 150px;

          }

          .mybtn:last-child {
            border: 1px solid green;
            background-color: black;
          }

        }

        .makeOrder {
          margin-top: 50px;
          cursor: pointer;
          font-family: sans-serif;
          border: 1px solid orangered;
          padding: 16px 41px 14px;
          font-size: 16px;
          line-height: 16px;
          color: #fefefe;
          background: orangered;
          -webkit-border-radius: 22px;
          border-radius: 22px;
          font-weight: 700;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-transition: background .250s linear, color .250s linear, border .250s linear;
          -o-transition: background .250s linear, color .250s linear, border .250s linear;
          transition: background .250s linear, color .250s linear, border .250s linear;



        }

        .makeOrder:hover {
          background: transparent;
          color: orangered;
        }
      }
    }

  }
}

@media screen and (max-width: 679px) {
  .prod {
    &__header {

      &--title {
        font-size: 24px;
        font-weight: 600;
        margin-left: calc(5%);
        margin-bottom: calc(4%);
        text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6;
      }

      &--text {
        width: 250px;
      }

      &--text::before {
        content: "";
        width: 7.3333em;
        height: 5px;
        min-height: 1.5em;
        border-bottom: 0.5em solid #dd5a12;
        position: absolute;
        top: calc(23%);
        left: calc(55%);
        box-sizing: border-box;
        transition: width 1000ms ease-in-out;
        opacity: 0.7;
        z-index: -1;
      }
    }

    &__desc {
      flex-flow: column;

      &--img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          min-height: 60vh;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border: none;
        }
      }

      &--content {

        width: 100%;

        .title {
          font-size: 24px;

        }

        .text {
          font-size: 16px;
          width: 70%;
        }

        .taste {
          width: 65%;
          font-size: 16px;
        }

      }
    }

    &__footer {
      @include flexbox(column, wrap, space-between, center);
      width: 100%;
      min-height: 20vh;

      &--order {
        margin-top: 50px;
        width: 100%;
        @include flexbox(column, wrap, space-between, center);
        min-height: 10vh;

        .price {
          font-size: 30px;
          @include flexbox(column, wrap, space-between, center);


          &__text {
            font-size: 30px;
          }

          &__discount {
            font-size: 35px;
            position: unset;
          }

          &__still {
            font-size: 30px;



            &--cross {
              width: 110px;
              right: calc(0%);
              top: 20px;
            }
          }


        }

        .counter {
          width: 100%;
          @include flexbox(row, wrap, center, center);

          &__amount {
            width: 100%;
            margin-right: 0px;
            font-size: 30px;


          }

          .mybtn {
            border-radius: 10px;
            margin: 10px;
            margin-top: 50px;
            color: white;
            width: 50px;
            height: 50px;
          }

          .mybtn:nth-child(2) {
            border: 1px solid darkred;
            background-color: black;
          }

          .mybtn:focus {
            outline: none;
            box-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6;

          }

          input {

            font-size: 20px;
            width: 100px;

          }

          .mybtn:last-child {
            border: 1px solid green;
            background-color: black;
          }

        }

        .makeOrder {
          margin-top: 50px;
          cursor: pointer;
          font-family: sans-serif;
          border: 1px solid orangered;
          padding: 16px 41px 14px;
          font-size: 16px;
          line-height: 16px;
          color: #fefefe;
          background: orangered;
          -webkit-border-radius: 22px;
          border-radius: 22px;
          font-weight: 700;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-transition: background .250s linear, color .250s linear, border .250s linear;
          -o-transition: background .250s linear, color .250s linear, border .250s linear;
          transition: background .250s linear, color .250s linear, border .250s linear;



        }

        .makeOrder:hover {
          background: transparent;
          color: orangered;
        }
      }
    }

  }
}

@media screen and (max-width: 329px) {
  .prod {
    &__header {

      &--title {
        font-size: 18px;
      }

      &--text {
        font-size: 14px;
        width: 200px;
      }

      &--text::before {
        content: "";
        width: 7.3333em;
        height: 5px;
        min-height: 1.5em;
        border-bottom: 0.5em solid #dd5a12;
        position: absolute;
        top: calc(23%);
        left: calc(45%);
        box-sizing: border-box;
        transition: width 1000ms ease-in-out;
        opacity: 0.7;
        z-index: -1;
      }
    }

    &__desc {
      flex-flow: column;

      &--content {
        width: 100%;

        .title {
          font-size: 20px;

        }

        .text {
          font-size: 16px;
          width: 70%;
        }

        .taste {
          width: 65%;
          font-size: 16px;
        }

      }
    }

    &__footer {
      @include flexbox(column, wrap, space-between, center);
      width: 100%;
      min-height: 20vh;

      &--order {
        margin-top: 50px;
        width: 100%;
        @include flexbox(column, wrap, space-between, center);
        min-height: 10vh;

        .counter {
          input {
            font-size: 20px;
            width: 70px;
          }
        }
      }
    }

  }
}
