<section class="prod" id="prod">

  <div class="prod__header" [style.backgroundImage]="'url(' + product?.headerImg + ')'">
    <h2 class="prod__header--title">{{product?.mainTitle}}</h2>
    <p class="prod__header--text"></p>
  </div>
  <div class="prod__desc">
    <div class="prod__desc--img" data-aos="fade-left" data-aos-easing="ease-out-cubic"
    data-aos-duration="1000">
      <img [attr.src]="product?.descImg" alt="">
    </div>
    <div class="prod__desc--content" data-aos="fade-right" data-aos-easing="ease-out-cubic"
    data-aos-duration="1000">
      <p class="title"> {{product?.descTitle}}</p>
      <p class="text">{{product?.descText}}</p>
      <div class="taste">
        <div class="taste__text">
          <span>Aromatic:</span>
          <span>Sweet:</span>
          <span>Bitter:</span>
          <span>Citrus:</span>
          
        </div>
        <div class="taste__static">
          <div class="taste__static--p"><span [style.width]="product?.aromatic + '%'" [style.transition]="product?.aromatic ? 'width 5s ease-in-out' :  'width 5s ease-in-out'"></span></div>
          <div class="taste__static--p"><span [style.width]="product?.sweet + '%'" [style.transition]="product?.aromatic ? 'width 5s ease-in-out' :  'width 5s ease-in-out'"></span></div>
          <div class="taste__static--p"><span [style.width]="product?.bitter + '%'" [style.transition]="product?.aromatic ? 'width 5s ease-in-out' :  'width 5s ease-in-out'"></span></div>
          <div class="taste__static--p"><span [style.width]="product?.citrus + '%'" [style.transition]="product?.aromatic ? 'width 5s ease-in-out' :  'width 5s ease-in-out'"></span></div>
        </div>
        

      </div>
    </div>
  </div>
  <div class="prod__footer" *ngIf="!checkDisc" data-aos="fade-up" data-aos-easing="ease-out-cubic"
  data-aos-duration="1000">
    <div class="prod__footer--order">
        <div class="price">
           <span class="price__text">Price for one:</span> {{ product?.price * product?.count  | currency }}
        </div>
       <div class="counter">
         <span class="counter__amount">Amount:</span>
        <button class="mybtn" (click)="prodCount(product, false)">-</button>
        <input type="text" minlength='1'  [value]="product?.count">
        <button class="mybtn" (click)="prodCount(product, true)">+</button>
       </div>
       <button class="makeOrder" (click)="addToBasket(product)">Add to Basket</button>
    </div>
    <div class="prod__footer--logo"></div>

  </div>
  <div class="prod__footer" *ngIf="checkDisc" data-aos="fade-up" data-aos-easing="ease-out-cubic"
  data-aos-duration="1000">
    <div class="prod__footer--order">
        <div class="price">
           <span class="price__text">Price for one:     </span> <span class="price__still">{{ product?.price * product?.count  | currency }}  <span class="price__still--cross"></span></span>
           <span class="price__discount"> {{ (product?.price * product?.count) - (product?.price * product?.count * discount)  | currency }}</span>
          

        </div>
       <div class="counter">
         <span class="counter__amount">Amount:</span>
        <button class="mybtn" (click)="prodCount(product, false)">-</button>
        <input type="text" minlength='1'  [value]="product?.count">
        <button class="mybtn" (click)="prodCount(product, true)">+</button>
       </div>
       <button class="makeOrder" (click)="addToBasket(product)">Add to Basket</button>
    </div>
    <div class="prod__footer--logo"></div>

  </div>
</section>
