@import "../../../assets/style/mixins";

.drink {
  font-family: sans-serif;
  line-height: 1.5;
  padding-bottom: 6rem;
  width: 100%;
  min-height: 20vh;
  @include flexbox(column, wrap, center, center);


  &__header {
    background-size: cover;
    width: 100%;
    min-height: 105vh;
    background-repeat: no-repeat;
    background-position: center;
    @include flexbox(column, wrap, center, left);
    color: white;

    &--title {
      min-height: 5vh;
      font-size: 32px;
      font-weight: 600;
      margin-left: calc(5%);
      margin-bottom: calc(4%);
      text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6;
    }

    &--text {
      font-family: sans-serif;
      width: 30%;
      min-height: 10vh;
      margin-left: calc(5%);
      position: relative;
      z-index: 2;

      .title {
        font-weight: 600;
        font-size: 30px;
      }

      .text {
        white-space: break-spaces;
        font-style: italic;
        font-stretch: condensed;
        font-size: 20px;

      }
    }

    &--text::before {
      content: "";
      width: 10.3333em;
      height: 5px;
      min-height: 1.5em;
      border-bottom: 0.5em solid #dd5a12;
      position: absolute;
      top: calc(18%);
      left: calc(-20%);
      box-sizing: border-box;
      transition: width 1000ms ease-in-out;
      opacity: 0.7;
      z-index: -1;
    }
  }

  &__ingred {
    width: 100%;
    min-height: 105vh;
    @include flexbox(column, wrap, center, center);
    color: white;
    margin-top: 20px;

    &--title {
      width: 200px;
      height: 15vh;
      font-size: 24px;
      align-self: start;
      margin-left: 50px;
      position: relative;
    }

    &--title::before {
      content: "";
      width: 10.3333em;
      height: 5px;
      min-height: 1.5em;
      border-bottom: 0.5em solid #dd5a12;
      position: absolute;
      top: calc(-2%);
      left: calc(-90%);
      box-sizing: border-box;
      transition: width 1000ms ease-in-out;
      opacity: 0.7;
      z-index: -1;
    }

    &--list {
      padding: 1rem;
      width: 80%;
      min-height: 100%;
      @include flexbox(row, wrap, center, center);

      .ingredient {
        width: 350px;
        min-height: 40vh;
        display: flex;
        align-items: center;
        flex-flow: column;
        justify-content: center;
        color: rgb(221, 90, 18);
        font-weight: bolder;

        img {
          width: 350px;
          height: 40vh;
          ;
          display: flex;
          justify-content: center;
          align-items: center;
          filter: saturate(150%) brightness(140%);
        }

        p {
          width: 100%;
          height: 25px;
          font-size: 14px;
          align-self: flex-end;
          white-space: nowrap;
          text-align: center;
        }
      }

    }
  }

  &__step {
    width: 100%;
    min-height: 105vh;
    @include flexbox(column, wrap, center, center);
    color: white;
    margin-top: 20px;

    &--title {
      width: 200px;
      height: 15vh;
      font-size: 24px;
      align-self: flex-end;
      margin-left: 50px;
      position: relative;
    }

    &--title::before {
      content: "";
      width: 8.3333em;
      height: 5px;
      min-height: 1.5em;
      border-bottom: 0.5em solid #dd5a12;
      position: absolute;
      top: calc(-2%);
      right: calc(-0%);
      box-sizing: border-box;
      transition: width 1000ms ease-in-out;
      opacity: 0.7;
      z-index: -1;
    }

    &--list {
      padding: 1rem;
      width: 49%;
      min-height: 100%;
      @include flexbox(row, wrap, space-around, center);

      .step {
        width: 200px;
        height: 40vh;
        display: flex;
        align-items: center;
        flex-flow: column;
        justify-content: center;
        font-weight: bolder;
        position: relative;
        background: -webkit-linear-gradient(rgba(221, 90, 18, 0.8), rgba(221, 90, 18, 0.1));
        margin-top: 20px;


        &_desc {
          color: white;
          width: 80%;
          min-height: 25px;
          font-size: 14px;
          align-self: center;
          white-space: break-spaces;
          text-align: center;
          z-index: 1;
        }

        &__count {
          position: absolute;
          font-weight: 900;
          font-size: 190px;
          z-index: 0;
          opacity: 0.7;

          color: rgb(221, 90, 18);

        }
      }

    }
  }

}

@media screen and (max-width:400px) {

  .drink {
    &__header{
      &--title{
        font-size: 20px;
        word-break: break-all;
      }
    }
    &__ingred {
      &--list {
        .ingredient {
          img {
            width: 100%;
            height: 30vh;
          }
        }
      }
    }
  }
}
