<footer class="footer">
  <div class="footer__menu">
    <div class="footer__menu__link">
      <a href="" class="footer__menu__link__item">History</a>
      <a href="" class="footer__menu__link__item">Products</a>
      <a href="" class="footer__menu__link__item">Drinks</a>
      <a href="" class="footer__menu__link__item">Contact</a>
    </div>
    <!-- <div class="footer__menu__link">
      <a href="" class="footer__menu__link__item">Basket</a>
      <a href="" class="footer__menu__link__item">Sign In</a>
      <a href="" class="footer__menu__link__item">Sign Up</a>
    </div> -->
  </div>
  <div class="footer__menu__button">
    <div class="footer__menu__button">
      <button class="footer__menu__button__icon"></button>
      <button class="footer__menu__button__face"></button>
    </div>
  </div>
</footer>
