@import "../../../assets/style/mixins";
.focus {
  outline: none;
  color: #fefefe;
  animation: focus-blink 3.5s ease-in-out infinite;
}

@keyframes focus-blink {
  0% {
    text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 0px #0073e6, 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #0073e6;
  }

  50% {
    text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6;
  }

  100% {
    text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 0px #0073e6, 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #0073e6;
  }
}
.footer {
  background: url(../../../assets/image/417fc787924a18cc899d30276edb056a.webp) right top no-repeat,
    linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5) 100%),
    url(../../../assets/image/e25c53fa7d42851bb5d2e5fd47e37918.webp);
  font-family: sans-serif;
  background-size: auto 100%, auto;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 27vh;
  @include flexbox(column, wrap, space-around, space-around);
  border-left: 0.75rem rgb(221, 90, 18) solid;
  padding: 2rem 2rem 0;

  &__menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

    &__link {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-flow: wrap;
      margin-top: 10px;

      &__item {
        margin-right: 20px;
        font-size: 20px;
        text-decoration: none;
        color: darkgray;
        margin-bottom: 10px;

      }

      &__item:hover {
        color: rgb(221, 90, 18);
      }
    }

    &__button {
      @include flexbox(row, wrap, flex-end, none);
      width: 100%;

  
      &__icon {
        display: inline-block;
        vertical-align: middle;
        height: 3.5rem;
        line-height: 3.5rem;
        min-width: 3rem;
        background-color: #d45511;
        background-size: 80%;
        border-radius: 8px;
        position: relative;
        transition: width 300ms ease-in-out, border-radius 300ms ease-in-out,background-size  300ms ease-in-out, background-color  300ms ease-in-out;
        text-align: center;
        cursor: pointer;
        border: none;
        width: 2rem;
        background-repeat: no-repeat;
        background-position: center center;
        height: 3rem;
        width: 3rem;
        transform-origin: 0 0;
        background-image: url('../../../assets/image/instagram.svg');
        margin-bottom: 10px;
        margin-left: 10px;

      }

      &__icon::before {
        opacity: 0;
        z-index: 0;
        line-height: 0.7;
        top: 34%;
        left: 0;
        position: absolute;
        content: 'Connect';
        transform: translate3d(0, -1px, 0);
        transform: translate3d(-1.2rem, -1rem, 0);
        transition: transform 600ms ease-in-out, z-index 600ms ease-in-out, background 300ms ease-in-out, left 300ms ease-in-out, color 600ms ease-in-out;
        color: transparent;
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
      }

      &__icon:hover::before {
        opacity: 1;
        z-index: 1;
        transform: translate3d(0, 0, 0);
        background: transparent;
        color: white;
        text-align: center;
        left: calc(18%);
      }

      &__icon:hover {
        background-color: orangered;
        background-size: 0%;
        width: 7.5rem;
        border-radius: 50px;
      }

      &__icon:focus {
        border: 1px solid rgb(221, 90, 18);
        outline: none;
        border-radius: 8px;
        border-color: rgb(221, 90, 18);
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgb(228, 107, 43);
        border-radius: 50px;

      }

      &__face {
        @extend .footer__menu__button__icon;
        background-color: blue;
        background-image: url('../../../assets/image/facebook-f-brands.svg');

        margin-bottom: 10px;
        margin-left: 10px;

      }

      &__face::before {
        opacity: 0;
        z-index: 0;
        line-height: 0.7;
        top: 34%;
        left: 0;
        position: absolute;
        content: 'Connect';
        transform: translate3d(0, -1px, 0);
        transform: translate3d(-1.2rem, -1rem, 0);
        transition: transform 600ms ease-in-out, z-index 600ms ease-in-out, background 300ms ease-in-out, left 300ms ease-in-out, color 600ms ease-in-out;
        color: transparent;
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
      }

      &__face:hover::before {
        opacity: 1;
        z-index: 1;
        transform: translate3d(0, 0, 0);
        background: transparent;
        color: white;
        text-align: center;
        left: calc(18%);
      }

      &__face:hover {
        background-color: darkblue;
        background-size: 0%;
        width: 7.5rem;
        border-radius: 50px;
      }

      &__face:focus {
        border: 1px solid rgb(22, 22, 177);
        outline: none;
        border-radius: 8px;
        border-color: rgb(22, 22, 177);
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgb(22, 22, 177);
        border-radius: 50px;

      }

    }

  }


}

@media screen and (max-width:990px) {
  .footer {
    &__menu {
      &__button {
        margin-top: 10px;

        &__icon {
          display: inline-block;
          vertical-align: middle;
          height: 3rem;
          line-height: 3rem;
          min-width: 3rem;
          background-color: rgb(221, 90, 18);
          background-size: 80%;
          border-radius: 8px;
          position: relative;
          transition: all 300ms ease-in-out;
          text-align: center;
          cursor: pointer;
          border: none;
          width: 2rem;
          background-repeat: no-repeat;
          background-position: center center;
          height: 3rem;
          width: 3rem;
          transform-origin: 0 0;
          background-image: url('../../../assets/image/instagram.svg');
          margin-bottom: 10px;
          margin-left: 10px;

        }

        &__icon::before {
          opacity: 0;
          z-index: 0;
          line-height: 0.7;
          top: 35%;
          left: 0;
          position: absolute;
          content: 'Connect';
          transform: translate3d(0, -1px, 0);
          transform: translate3d(-1.2rem, -1rem, 0);
          transition: transform 600ms ease-in-out, z-index 600ms ease-in-out, background 300ms ease-in-out, left 300ms ease-in-out, color 600ms ease-in-out;

          color: transparent;
          font-weight: bolder;
          text-align: center;
        }

        &__icon:hover::before {
          opacity: 1;
          z-index: 1;
          transform: translate3d(0, 0, 0);
          background: transparent;
          color: white;
          text-align: center;
          left: calc(15%);
          font-size: 15px;
        }

        &__icon:hover {
          background-color: orangered;
          background-size: 0%;
          width: 5rem;
          border-radius: 50px;
          font-size: 15px;
        }

        &__icon:focus {
          border: 1px solid rgb(221, 90, 18);
          outline: none;
          border-radius: 8px;
          border-color: rgb(221, 90, 18);
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgb(228, 107, 43);
          border-radius: 50px;

        }

        &__face {
          @extend .footer__menu__button__icon;
          background-color: blue;
          background-image: url('../../../assets/image/facebook-f-brands.svg');

          margin-bottom: 10px;
          margin-left: 10px;

        }

        &__face::before {
          opacity: 0;
          z-index: 0;
          line-height: 0.7;
          top: 35%;
          left: 0;
          position: absolute;
          content: 'Connect';
          transform: translate3d(0, -1px, 0);
          transform: translate3d(-1.2rem, -1rem, 0);
        transition: transform 600ms ease-in-out, z-index 600ms ease-in-out, background 300ms ease-in-out, left 300ms ease-in-out, color 600ms ease-in-out;
          font-weight: bolder;
          text-align: center;
          color: transparent;
        }

        &__face:hover::before {
          opacity: 1;
          z-index: 1;
          transform: translate3d(0, 0, 0);
          background: transparent;
          color: white;
          text-align: center;
          left: calc(15%);
          font-size: 15px;

        }

        &__face:hover {
          background-color: darkblue;
          background-size: 0%;
          width: 5rem;
          border-radius: 50px;
        }

        &__face:focus {
          border: 1px solid rgb(22, 22, 177);
          outline: none;
          border-radius: 8px;
          border-color: rgb(22, 22, 177);
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgb(22, 22, 177);
          border-radius: 50px;

        }

      }

    }


  }
}
