@import "../../../assets/style/mixins";
@import "../../../assets/style/variable";


.prod {
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: $width;
  min-height: 20vh;
  @include flexbox(row, wrap, space-around, stretch);

  &__component {
    width: 31%;
    height: 60vh;
    overflow: hidden;
    box-shadow: $shadow;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;

    &--img {
      width: $width;
      height: 100%;
      @include flexbox(none, none, none, flex-end);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      background-position-y: 25%;
      filter: saturate(100%) brightness(100%);
      transition: transform 600ms ease-in-out, filter 600ms ease-in-out;

      .title {
        position: relative;
        width: $width;
        min-height: 10px;
        margin: 0 0 calc(15%) calc(12%);
        color: $color;
        font-size: 24px;
        font-style: italic;

      }

      .title::before {
        content: '';
        width: 5.3333em;
        height: 5px;
        min-height: 1.5em;
        border-bottom: 0.5em solid rgb(221, 90, 18);
        position: absolute;
        top: calc(80%);
        left: calc(-5%);
        box-sizing: border-box;
        transition: width 1000ms ease-in-out;
      }


    }


    &--img:hover {
      transform: scale(1.1);
      filter: saturate(125%) brightness(125%);
    }

    &--img:hover>.title::before {

      width: 7.5em;

    }
  }
}

@media screen and (max-width: 990px) {
  .prod {
    &__component {
      margin-top: 50px;
      width: 45%;

      &--img {
        .title {
          font-size: 22px;
        }
      }
    }




  }
}

@media screen and (max-width: 679px) {
  .prod {
    flex-flow: column;
    align-items: center;

    &__component {
      margin-top: 50px;
      width: 80%;

      &--img {
        .title {
          font-size: 18px;
        }
      }
    }




  }
}
