<div class="history">
  <section class="history__legend">
    <div class="history__legend__icon"></div>
    <div class="history__legend__blog">
      <h2 class="history__legend__blog__title">THE STUFF OF LEGEND</h2>
      <p class="history__legend__blog__text">Unchanged in recipe. Unflagging in popularity. Who could have guessed that
        what began as a celebratory drink among hunters would give rise to a story as bold, rich and varied as our
        iconic herbal liqueur itself?</p>
    </div>

  </section>
  <section class="history__legend">
    <div class="history__legend--blog">
      <div class="title">MEISTER <br> ALCHEMIST
      </div>
      <p class="text"> It was Wilhelm Mast’s son, Curt, who took the family vinegar business in a very different
        direction. A few years
        passed before he perfected Jägermeister’s recipe of 56 botanical ingredients but we think it was well worth the
        wait. To this day, the eyes of our founder still watch over his creation; immortalized in stone.</p>
    </div>
    <div class="history__legend--icon"></div>
  </section>
  <section class="history__legend">
    <div class="history__legend--shield"></div>
    <div class="history__legend--log">
      <div class="title"> WOLFENBÜTTEL: THE <br> NATURAL HABITAT FOR <br> A PERFECT DRINK
      </div>
      <p class="text">
        Steeped in history, surrounded by nature and with Berlin on its doorstep; the Lower Saxon town of Wolfenbüttel –
        like the drink it gave rise to – is a blend of all the best ingredients. With a prestigious history as a hub of
        arts and science, we like to think one of its greatest masterpieces was inspiring the creation of Jägermeister.
      </p>
    </div>

  </section>
  <section class="history__legend">
    <div class="history__legend--story">
      <div class="main-icon"></div>
      <div class="logo-story">
        <div class="logo"></div>
        <div class="logo-blog">
          <div class="blog-title">THE STORY <br> BEHIND <br> THE STAG</div>
          <p class="blog-text">Our striking logo draws from the tale of Saint Hubertus. Once a wild huntsman, Hubertus
            had a vision of a mighty stag carrying a glowing cross between its antlers. The vision transformed him and
            afterwards he championed a greater respect for nature, eventually becoming known as the patron saint of
            hunters. Curt Mast thought this powerful story was a perfect match to his potent elixir and adopted the
            emblem of the stag in honor of the true ‘Hunting Master’.</p>
        </div>
      </div>
    </div>
    <div class="history__legend--bottle">
      <div class="bottle-blog">
        <div class="title">
          OUR BOTTLE: A <br> SMASHING SUCCESS <br> FROM DAY ONE
        </div>
        <p class="text">
          A keen outdoorsman, Curt Mast needed a bottle that would stand up to heavy-duty use. To find the perfect
          candidate, he dropped different shaped bottles onto his oak floor until one survived. From pragmatic to
          iconic: more than 80 years on his easily recognizable square-shouldered bottle is still a standout in bars and
          clubs around the world.
        </p>
      </div>
      <div class="bottle-icon"></div>
    </div>

  </section>


</div>
