@import "../../../assets/style/mixins";
@import "../../../assets/style/variable";


.myblogs {
  width: $width;
  min-height: 10vh;
  @include flexbox(column, wrap, center, center);



  h1 {
    text-shadow: $shadow;
    text-transform: uppercase;
    font-size: 30px;
  }

  input {
    width: 100%;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid sandybrown;
    color: bisque;
    padding-left: 10px;

  }

  input:focus {
    background-color: transparent;
    color: bisque;
    border-color: #86b7fe;
    outline: 0;
    border-radius: 10px;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
  }

  textarea:focus {
    background-color: transparent;
    color: bisque;
    border-color: #86b7fe;
    outline: 0;
    border-radius: 10px;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid orangered !important;
    -webkit-text-fill-color: white;
    border-radius: 10px;
    padding-left: 5px !important;
    background-color: orangered !important;
    box-shadow: 0 0 0px 1000px #f83600 inset;
    background: linear-gradient(to right, #f83600, #fe8c00);
    transition: background-color 5000s ease-in-out 0s;
  }

  textarea {
    padding-left: 10px;
    padding-top: 3px;
    color: white;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid sandybrown;
    height: 10vh;
    margin-top: 20px;
  }

  .formStyle {
    margin-top: 20px;
    margin-bottom: 20px;
    width: $width;
    @include flexbox(row, wrap, space-around, center);



    &__input {
      margin-top: 10px;
      width: 40%;
      min-height: 10vh;
      @include flexbox(column, wrap, space-between, center);


      &--button {
        height: 5vh;
        width: 30%;
        border-radius: 10px;
        background: #198754;
        border: 2px solid #198754;
        color: white;
        text-align: center;
        transition: background .250s linear, color .250s linear, border .250s linear;
      }

      &--button:focus {
        border-color: #198754;
        outline: 0;
        border-radius: 10px;
        box-shadow: 0 0 0 0.25rem rgba(13, 253, 109, 0.25);
      }

      &--button:hover {
        background: transparent;
        color: #198754;
      }

      &--upload {
        margin-top: 50px;
        margin-bottom: 15px;
        width: 100%;
        min-height: 15vh;
        font-size: 16px;
        @include flexbox(column, wrap, space-between, center);

      }

    }



  }

  .formStyle-last {
    margin-top: 20px;
    width: 100%;
    @include flexbox(row, wrap, space-around, center);


    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
      margin-top: 20px;
    }

    .btn {
      border: 2px solid #fe8c00;
      color: white;
      background: #fe8c00;
      background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
      background: linear-gradient(to right, #f83600, #fe8c00);
      padding: 8px 20px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: bold;
      transition: background .250s linear, color .250s linear, border .250s linear;
    }


  }

  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }


  .mybuttom {
    width: 50%;
    border-radius: 20px;
    border: 1px solid orangered;
    background: orangered;
    height: 6vh;
    color: white;
    transition: background .250s linear, color .250s linear, border .250s linear;
  }

  .mybuttom:hover {
    background: transparent;
    color: orangered;
  }

  .mybuttom:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem orangered;
    border: 1px solid orangered;

  }

  hr {
    margin-top: 50px;
  }

  table {
    color: #dee2e6;

  }

  th {
    font-size: 18px;
  }

  td {
    font-size: 14px;
  }
}

.modalB {
  transition: background 600ms ease-in-out;
  transition: position 1ms ease-in-out;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  background: rgba(0, 0, 0, .7);
  box-sizing: border-box;
  border-radius: 10px;

  input {
    width: 100%;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid sandybrown;
    color: bisque;
    padding-left: 5px;
  }

  input:focus {
    background-color: transparent;
    color: bisque;
    border-color: #86b7fe;
    outline: 0;
    border-radius: 10px;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: green;
    border-radius: 10px;

    box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  &__blog {
    transition: transform 1000ms linear;
    min-height: 95vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, .6), transparent 40%), linear-gradient(270deg, rgba(0, 0, 0, .6), transparent 40%), rgba(9, 17, 7, 0.95);
    background-image: url('../../../assets/image/e25c53fa7d42851bb5d2e5fd47e37918.webp');
    background-repeat: no-repeat;
    background-size: cover;
    right: calc(-25%);
    top: calc(1%);
    text-align: left;
    width: 50%;
    position: relative;
    @include flexbox(column, wrap, none, center);


    &--cross {
      width: 100%;
      height: 5vh;
      cursor: pointer;
      @include flexbox(row, wrap, flex-end, center);


      img {
        width: 45px;
        height: 45px;
        fill: white;
        border: 1px solid transparent;
        border-radius: 50%;
        transition: transform 600ms ease-in-out;

      }

      img:hover {
        transform: rotate(360deg);
      }
    }


    &--title {
      width: 100%;
      min-height: 7vh;
      font-size: 34px;
      color: white;
      font-weight: 800;
      text-align: center;
    }

    &--text {
      width: 75%;
      min-height: 6vh;
      font-size: 24px;
      color: rgb(218, 212, 212);
      font-weight: 800;
      text-align: center;
      align-self: center;
    }

    &--style {
      width: 100%;


      .input {
        width: 100%;
        min-height: 10vh;
        margin-top: 20px;
        @include flexbox(column, wrap, space-between, center);


        input {
          width: 80%;
        }

        &__quill {
          width: 100%;
          min-height: 10vh;
          @include flexbox(row, wrap, space-around, center);



        }

        #textarea {
          width: 80%;
          font-family: -webkit-pictograph;
          font-size: 14px;
        }

        &__button {
          height: 5vh;
          width: 30%;
          border-radius: 10px;
          background: #198754;
          border: 2px solid #198754;
          color: white;
          text-align: center;
          transition: background .250s linear, color .250s linear, border .250s linear;
        }

        &__button:focus {
          border-color: #198754;
          outline: 0;
          border-radius: 10px;
          box-shadow: 0 0 0 0.25rem rgba(13, 253, 109, 0.25);
        }

        &__button:hover {
          background: transparent;
          color: #198754;
        }

        &__upload {
          margin-top: 15px;
          margin-bottom: 15px;
          width: 100%;
          @include flexbox(column, wrap, center, center);

          font-size: 16px;

          label {
            font-size: 20px;
          }

          .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
          }

          .btn {
            border: 2px solid #fe8c00;
            color: white;
            background: #fe8c00;
            background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
            background: linear-gradient(to right, #f83600, #fe8c00);
            padding: 8px 20px;
            border-radius: 8px;
            font-size: 20px;
            font-weight: bold;
            transition: background .250s linear, color .250s linear, border .250s linear;
          }

          .upload-btn-wrapper input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
          }
        }

      }
    }

    &--form {
      width: 100%;
      margin-top: 20px;
      min-height: 15vh;
      @include flexbox(row, wrap, space-around, center);



      .dismiss {
        width: 40%;
        border-radius: 5px;
        border: 1px solid ghostwhite;
        font-size: 20px;
        cursor: pointer;
        font-family: sans-serif;
        color: #fefefe;
        background: repeating-linear-gradient(45deg, black, transparent 100px);
        border-radius: 22px;
        font-weight: 700;
        transition: background .250s linear, color .250s linear, border .250s linear;
      }

      .dismiss:hover {
        background: transparent;
      }

      .dismiss:focus {
        border: 1px solid black;
        outline: none;
        box-shadow: 0 0 2px 3px black;
      }

      .logout {
        width: 40%;
        border-radius: 5px;
        border: 1px solid orangered;
        font-size: 20px;
        cursor: pointer;
        font-family: sans-serif;
        color: #fefefe;
        background: orangered;
        border-radius: 22px;
        font-weight: 700;
        transition: background .250s linear, color .250s linear, border .250s linear;
      }

      .logout:hover {
        background: transparent;
        color: orangered;
      }


      .logout:focus {
        outline: none;
        box-shadow: 0 0 2px 3px orangered;
      }
    }


  }
}

@media screen and (max-width: 990px) {
  .myblogs {

    .modalB {
      &__blog {
        &--style {
          flex-flow: column;
        }
      }
    }

    .formStyle {
      font-size: 20px;
      flex-flow: column wrap;

      &__input {
        flex-flow: row wrap;
        width: 100%;
      }
    }

    table {
      display: flex;
      overflow-x: scroll;
      color: white;
    }

    td {
      text-overflow: ellipsis;
      white-space: wrap;
      border: 1px solid #dee2e6;
    }

    th {
      margin-right: 0 !important;
      border: 1px solid #dee2e6;
    }

    tr {
      border: 1px solid #dee2e6;
      display: flex;
      flex-flow: column;
    }

    tbody {
      display: flex;
    }
  }

}

@media screen and (max-width: 696px) {
  .myblogs {
    textarea {
      width: 100%;
    }

    .modalB {
      &__blog {
        width: 100%;
        right: 0;
        top: 0;

        &--style {
          flex-flow: column;
        }
      }
    }

    .formStyle {
      flex-flow: column wrap;

      &__input {
        flex-flow: column wrap;
      }
    }

    table {
      display: flex;
      overflow-x: scroll;
      color: white;
    }

    td {
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    th {
      margin-right: 0 !important;
      border: 1px solid #dee2e6;
    }

    tr {
      border: 1px solid #dee2e6;
      display: flex;
      flex-flow: column;
    }

    tbody {
      display: flex;
    }
  }

}

@media screen and (max-width: 696px) {
  .myblogs {
    .formStyle {
      font-size: 16px;
      flex-flow: column wrap;

      &__input {
        flex-flow: row wrap;
        width: 100%;

        &--button {
          width: 150px;
        }
      }
    }

    .formStyle-last {
      .upload-btn-wrapper {
        .btn {
          font-size: 16px;
        }
      }
    }
  }
}
