
<div class="img">
    <div class="blog">
        <div class="blog__component"  data-aos="fade-up" data-aos-easing="ease-out-cubic"
        data-aos-duration="1000">
            <div class="blog__component__item " >
                <div class="blog__component__item__title">Limited Edition Bottle</div>
            </div>
            <div class="blog__component__item">
                <div class="blog__component__item__title">Meister Drop-Ins</div>
            </div>
        </div>
        <div class="blog__component"  data-aos="fade-up" data-aos-easing="ease-out-cubic"
        data-aos-duration="1000">
            <div class="blog__component__itemBot">
                <div class="blog__component__itemBot__title">Jägermeister Manifest</div>
              
            </div>
            <div class="blog__component__itemBot">
                <div class="blog__component__itemBot__title">INSTAGRAM STORIES FROM BERLIN</div>
            </div>
            <div class="blog__component__itemBot">
                <div class="blog__component__itemBot__title">Best served ice-cold</div>
            </div>

        </div>
        <div class="blog__component"  data-aos="fade-up" data-aos-easing="ease-out-cubic"
        data-aos-duration="1000">
            <div class="blog__component__itemBlog">
                <div class="blog__component__itemBlog__title">Jägermeister Manifest</div>
              
            </div>
           

        </div>
        
    </div>
</div>