@import "../../../assets/style/mixins";



.blog {
  font-family: sans-serif;
  line-height: 1.5;
  width: 100%;
  min-height: 20vh;
  @include flexbox(column, wrap, center, center);
  overflow: hidden;

  &__header {
    background-size: cover;
    width: 100%;
    min-height: 105vh;
    background-repeat: no-repeat;
    background-position: center;
    @include flexbox(column, wrap, center, left);
    color: white;

    &--title {
      min-height: 5vh;
      width: 450px;
      font-size: 32px;
      font-weight: 600;
      margin-left: calc(5%);
      margin-bottom: calc(4%);
      text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6;
    }

    &--text {
      font-family: sans-serif;
      width: 30%;
      min-height: 10vh;
      font-size: 18px;
      margin-left: calc(5%);
      font-style: italic;
      font-stretch: condensed;
      position: relative;
      z-index: 2;
      white-space: break-spaces;
    }

    &--text::before {
      content: "";
      width: 10.3333em;
      height: 5px;
      min-height: 1.5em;
      border-bottom: 0.5em solid #dd5a12;
      position: absolute;
      top: calc(23%);
      right: calc(-15%);
      box-sizing: border-box;
      transition: width 1000ms ease-in-out;
      opacity: 0.7;
      z-index: -1;
    }
  }

  &__desc {
    width: 100%;
    margin-top: 50px;
    @include flexbox(row, wrap, center, center);
    color: white;
    margin-bottom: 50px;

    &--img {
      width: 50%;
      height: 100%;
      @include flexbox(row, wrap, space-between, center);
      border: none;

      img {
        width: 100%;
        min-height: 60vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
      }
    }

    &--content {
      width: 50%;
      @include flexbox(column, wrap, flex-start, center);



      .title {

        width: 100%;
        text-align: center;
        min-height: 5vh;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: calc(4%);
        margin-top: calc(28%);
        text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6;
      }

      .text {
        font-family: sans-serif;
        min-height: 10vh;
        font-size: 18px;
        font-style: italic;
        font-stretch: condensed;
        width: 55%;
        text-align: center;
        white-space: break-spaces;
      }
    }
  }

  &__footer {
    width: 100%;
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
  }
}

@media screen and (max-width:700px) {
  .blog {
    &__header {
      &--title {
        width: 80%;
        font-size: 20px;

      }

      &--text {
        width: 80%;
        font-size: 14px;
      }
    }

    &__desc {
      width: 100%;
      flex-flow: column !important;

      &--img {
        width: 100%;
        img{
          min-height: 35vh;
        }
      }

      &--content {
        width: 100% !important;

        .title {
          font-size: 20px;
        }

        .text {
          font-size: 14px;
        }
      }
    }

  }
}
